

.backgroundbox {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.mainbox-hi__wave h1 {
    font-size: 80px;
    color: rgba(255, 255, 255, 0.1);
    background-clip: text;
    -webkit-background-clip: text;
    background-repeat: repeat-x;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 90 240 300' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='500' height='800' style='stroke: none; fill: rgb(255,255,255);' /%3E%3Cpath d='M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z' style='stroke: none;'%3E%3C/path%3E%3C/svg%3E");
    animation: wave 6s ease-in-out;
    background-position: left 2900px bottom 18px;
}

.backgroundbox a{
    text-decoration: none;
}
  
@keyframes wave {
    0% {
      background-position: left 0px bottom -59px;
    }
    7% {
      background-position: left 600px bottom -47px;
    }
   
    100% {
      background-position: left 4900px bottom 7px;
    }
}